body{
    background-color: rgb(73, 208, 20);
}

#cars{
    color: blue;
text-shadow: 10px 10px 10px ;
text-align: center;
}
.lamburgini{
    color: red;
}
.urus{
color: brown;
}
.FERARI{
    color: chartreuse;
}