/* #p1{
    text-align: right;
text-decoration: underline dotted color(srgb  green blue);
color: blue;
}
#p2{
   text-align: center;
text-decoration: line-through ;
}
#p3{
    text-decoration: double overline;
color: red;
}
#p4{

} */




