.bb{
    background-color: black;
color: green;
margin-left: 100px;
margin-top: 30px;
}
.gg{
    color: red;
margin-top: 50px;
margin-left: 150px;
}
.bg{
    color: blue;
margin-top: 150px;
margin-left: 50px;

}